/*DOCUMENT STUFF*/
html {
    background-color : yellow;
    }
    body {
    display: ;
    }

    /* BODY STUFF*/
    body {
    font-family: ;
    font-size:95%;
    background-color:white;
    width:600px;
    margin:auto;
    padding:25px;
    padding-bottom :;
    padding-top : ;
    border: 10px double blue;
    border-color: blue ;
    border-style : ;
    border-width:10px;
    }

    h1 {
        font-size:150%;
        padding: ;
        margin-bottom:10px;
        color:blue;
    }
    h2 {
        font-size:125%;
        margin-bottom: 10px 0;
        padding: ;
    }
    h3 {
        font-size:115%;
        margin: 10px 0;
        margin-bottom: 10px ; 
        padding-bottom: ;
    }

    p {
    font-size : 15px;
    padding-right: 15px;
    }
    img {
    float :left ;
    padding-right :15px ;
    padding-bottom: 10px; 
    }

    cite {
        color: blue ; 
        font-style:normal ;
        text-align :right ;
        display: block;
    }

    ul {
    padding-left:0 ;
    }

    /* FOOTER STUFF*/

    footer  {
    border-top-color : 2px solid blue;
    border-top :solid;
    }

    footer p {
    text-align : center ;
    font-weight :bold ;
    font-size:90% ;     
    }